/* Slideshow container */
main {
  position: relative;
  overflow: hidden;
}

.slideshow-container {
  width: 90%; /*makes it even more responsive*/
  max-width: 420px; /*max-width:420px prevents giant slides on large screens */
  height: 250px; /* fix slider height */
  position: relative;
  margin: 20px auto;
  overflow: hidden;
  /*border: none;*/ /*2px solid #333*/
  border-radius: 10px;
}

/* Wrapper holding all slides */
.slides-wrapper{
  display:flex;
  width:300%;
  transition: transform 1.5s ease-in-out;
}

.slides-wrapper img {
  width: 100%;
  height: 100%; /* fill container height */
  object-fit: cover; /* crop image nicely if needed */
  flex-shrink: 0;
  flex-basis: 100%;
}
/*
.slideshow-container img{
  max-width: none;
}
*/